<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SereneHealthApplication"
        android:allowBackup="true"
        android:label="Serene Health"
        android:supportsRtl="true"
        android:theme="@style/Theme.SereneHealth">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:name=".activity.MessageCenterActivity"
            android:exported="false" />

        <activity
            android:name=".activity.SmartDiagnosisActivity"
            android:exported="false" />

        <activity
            android:name=".activity.DepartmentListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorListActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.DoctorDetailActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.AppointmentActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.IDVerificationActivity"
            android:label="@string/id_verification_title"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.AppointmentRecordActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ManageDepartmentActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ManageScheduleActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ManageDoctorActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AdminMainActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ManageBannerActivity"
            android:exported="false" />

        <activity
            android:name=".activity.DoctorAppointmentActivity"
            android:exported="false" />

    </application>
</manifest>
